
.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-settings:before { content: '\e802'; } /* '' */
.icon-numbers:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-loader:before { content: '\e839'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */